<%- include('header') %> 

<!-- title -->
<h1 class="title">Invoice</h1>

<fieldset class="container">
    <table class="table">
        <tr>
            <th>name</th>
            <td><%= invoiceField1 %> </td>
        </tr>
        <tr>
            <th>email</th>
            <td><%= invoiceField2 %> </td>
        </tr>
        <tr>
            <th>email</th>
            <td><%= invoiceField3 %> </td>
        </tr>
        <tr>
            <th>email</th>
            <td><%= invoiceField4 %> </td>
        </tr>
        <tr>
            <th>email</th>
            <td><%= invoiceField5 %> </td>
        </tr>
        <tr>
            <th>email</th>
            <td><%= invoiceField6 %> </td>
        </tr>
        <tr>
            <th>email</th>
            <td><%= invoiceField7 %> </td>
        </tr>

    </table>
</fieldset>



<%- include('footer') %> 